/************************* 
google-font-roboto-api 
*************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body > .sec-color {
  background-color: #fffbf0;
}
ul .nav-item {
  margin-left: 1rem;
}
.section-details {
  margin-top: 3rem;
}
.section-details .btn {
  background-color: rgb(139, 166, 33);
  color: #ffff;
  font-size: 15px;
  border-radius: 10px;
  width: 8rem;
}
.section-details .heading {
  font-family: "Bebas Neue";
  font-style: normal;
  color: #fabe4c;
  font-size: 50px;
}
.section-details .text-color {
  color: #363958;
  font-family: "Bebas Neue";
  font-style: normal;
}
section > .text-color {
  color: #363958;
  font-family: "Bebas Neue";
  font-style: normal;
  text-align: center;
  font-size: 38px;
}
.card-body > .custom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  color: #363958;
}
.card > .bg-pic {
  background-color: #f1f1f1;
  border-radius: 20px;
}
.rounded-frame {
  border-radius: 20px;
}
.price-btn > .price {
  color: #fabe4c;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}
.price-btn .btn {
  background-color: rgb(139, 166, 33);
  color: #ffff;
  font-size: 12px;
  border-radius: 12px;
  width: 7rem;
}
