/************************* 
google-font-roboto-api 
*************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body > .sec-color {
  background-color: #fffbf0;
}
ul .nav-item {
  margin-left: 2rem;
}
.row .section-details {
  margin-top: 3rem;
}
.section-details .btn {
  background-color: rgb(139, 166, 33);
  color: #ffff;
  font-size: 12px;
}
.section-details .heading {
  font-family: "Bebas Neue";
  font-style: normal;
  color: orange;
  font-size: 60px;
}
.section-details .text-color {
  color: #363958;
  font-family: "Bebas Neue";
  font-style: normal;
}
main h1 {
  font-size: 38px;
}
.card > .bg-pic {
  background-color: #f1f1f1;
  border-radius: 20px;
}
